/*Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');
@media (min-width: 576px){

*{
  padding: 0.2rem;
  margin :0 ;
  box-sizing :border-box ;
}
html,
body{
  font-family: 'Montserrat', sans-serif;
} 
.container{
    margin-left: 2rem;
    margin-right: 2rem;
}

/*head section starts here */
.section1{
  background :#000;
  display :flex ;
  flex-direction :row;
  justify-content: space-between;
  align-items :center ;
  color:#fff ;
  font-size :0.75rem ;
  padding :0.25rem 0.25rem 0.5rem 0.25rem ;
  min-width: 100px;
}
.sign{
  align-self: center;
}
.watch{
    padding-right:  1.75rem;  
}

/*--sales section starts here*/
.section2{
  display :flex ;
  flex-direction :row ;
  justify-content: space-between ;
  align-items: center ;
  padding :0.25rem 0.25rem 0.5rem 0.25rem ;
}
.h2-header{
  font-size :14px;
  font-weight: bold;
  line-height :12px ;
}
.p-shop{
  color:#ff473a;
  font-size :18px;
  font-weight: normal ;
  padding-right: 2rem ;
}
/*-image sections starts here-*/
div.pointers {
  text-align: center ;
  margin-bottom :1rem ;
}
.wristwatch{
    margin-top: .50rem;

    width: 100%;
    
}
.wilevel{
    padding-bottom: .0rem;
}
/*-display area starts here-*/
.p-watch{
  font-size :1.5rem ;
  padding-left: 0.25rem ;
  margin-bottom :1.5rem;
}
.advt{
  font-size:10px;
  font-weight :300 ;
  color:#979797;
  padding-left: 0.25rem ;
}
img.downsignal{
  padding-left: 21rem ;
}

/*section2 starts here*/
.amount{
  display :flex ;
  flex-direction :row ;
  justify-content: space-between ;
  align-items: center ;
  padding :0.25rem 0.25rem 0.5rem 0.25rem ;
}
.amount-no1{
  font-size: 14px ;
  padding-top: 1rem ;
}
.amount-no2{
  font-size :10px;
  font-weight: 300 ;
  color :#979797;
}
/*button section starts here*/
button{
  background: #FF473A; 
  width: 75%;
  outline :none ;
  border: 0;
  margin-left: 3rem;
  color :#fff ;
  height :3rem ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}
@media (min-width: 768px){
    .wristwatch{
        margin-top: .50rem;
        margin-left: 25rem;
        width: 50%
    }
    button{
      width: 20%;
      margin-left: 40rem;
      height :3rem ;
    }
}

@media (min-width: 992px){}

@media (min-width: 1200px){}